In [4]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("C:\\Users\\benny\\OneDrive\\Desktop\\work\\notebooks\\data\\housing.csv")

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# How to: 
## Min to Max Normalization.  

This is done in order to allow a rescaling of the values from a complex to a typical 0-1 range.  This makes the standard deviation smaller 

### Min-Max Scaling - the modified x' is going to be x minus the minimum of x, divided by the range of x.

Min- Max scaling

# $x' = \frac{x - \text min(x)}{\text max(x)-min(x)}$

In [7]:
df["house_value_minmax"] = (df.median_house_value-df.median_house_value.min()) / (df.median_house_value.max()-df.median_house_value.min())
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,house_value_minmax
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,0.902266
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,0.708247
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,0.695051
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,0.672783
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,0.674638

In [ ]:
bin_names = ["Low_to_Mid", "Mid_to_High", "Luxury"]
df["Price_Range"] = pd.cut(df.house_value_minmax, 
        [0, .333, .666, 1],
        labels=bin_names)
df.Price_Range

# Z-Score
### Finding the z-score provides added ranking where 0 is the mean and the score describes the distance from the mean in terms of distribution (in this case value).  The distribution can then be arranged and visualized more effectively.
### The modified x' equals 
# $x' = \frac{x - \bar{x}}{\sigma}$
# Finding the z-score for the median_house_value.

In [ ]:
df['house_value_z_score'] = (df.median_house_value - df.median_house_value.mean()) / df.median_house_value.std()

Find the z-score for ['median_income'] in order to use for comparison against the 
median_house_value and see what information comes from it.

In [ ]:
df['median_income_z_score'] = (df.median_income - df.median_income.mean()) / df.median_income.std()
print(df.head(5))

In [ ]:
df["Price_Range_Quantile"] = pd.qcut(df.house_value_minmax, 3, )
df["Price_Range_Quantile"]

In [ ]:
plt.autoscale(df).